<section class="container">
  <h2>Generating Text</h2>
  <div>
    <label for="textEntered">Enter text below:</label>
    <input type="text" id="textEntered" placeholder="Enter Text" />
    <button class="btn-custom mt-3 w-100" id="generateTextButton">Generate Story</button>
  </div>
  <div>
    <p id="generatedText">Text will appear here:</p>
  </div>
</section>

<script src="javascripts/script.js"></script>